SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackLocation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IMEI] [varchar](50) NOT NULL,
	[latitude] [decimal](12, 9) NOT NULL,
	[longitude] [decimal](12, 9) NOT NULL,
	[DateEvent] [datetime] NOT NULL,
	[date_track] [datetime] NOT NULL,
	[TypeSource] [int] NOT NULL,
 CONSTRAINT [PK_TackLocation_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TrackLocation] ON 

INSERT [dbo].[TrackLocation] ([id], [IMEI], [latitude], [longitude], [DateEvent], [date_track], [TypeSource]) VALUES (64456, N'359339077003915', CAST(50.452226500 AS Decimal(12, 9)), CAST(30.522782100 AS Decimal(12, 9)), CAST(N'2021-10-11T10:04:00.193' AS DateTime), CAST(N'2021-10-11T11:38:03.000' AS DateTime), 3)
INSERT [dbo].[TrackLocation] ([id], [IMEI], [latitude], [longitude], [DateEvent], [date_track], [TypeSource]) VALUES (64457, N'359339077003915', CAST(50.452226500 AS Decimal(12, 9)), CAST(30.522782100 AS Decimal(12, 9)), CAST(N'2021-10-11T10:04:23.087' AS DateTime), CAST(N'2021-10-11T11:39:58.000' AS DateTime), 3)
INSERT [dbo].[TrackLocation] ([id], [IMEI], [latitude], [longitude], [DateEvent], [date_track], [TypeSource]) VALUES (64458, N'359339077003915', CAST(50.452226500 AS Decimal(12, 9)), CAST(30.522782100 AS Decimal(12, 9)), CAST(N'2021-10-11T10:04:45.943' AS DateTime), CAST(N'2021-10-11T11:40:28.000' AS DateTime), 3)
GO
SET IDENTITY_INSERT [dbo].[TrackLocation] OFF
GO
ALTER TABLE [dbo].[TrackLocation] ADD  DEFAULT ((1)) FOR [TypeSource]
GO
